<!-- start nave bar -->
<nav class="sticky top-0 z-50 pt-4 mb-16  backdrop-blur-lg pb-4">

  <div class="flex items-center justify-between max-w-7xl mx-auto">
      <div><img src="logg.svg" alt=""></div>
      <div>
          <ul class="flex items-center gap-4 font-[700] text-[#00647b]">
              <li (click)="goToHome()">Accueil</li>
              <li><a href="#tarifs">tarifs</a></li>
              <li><a href="#documents">documents</a></li>
              <li (click)="goToVisaForm()">forumulaire e-visa</li>
          </ul>
      </div>

      <div class="flex items-center gap-2">
          <div>
              <div class="font-[400] text-[14px]  text-[#141414] flex items-center gap-2"><span class="inline-block text-[#00647b]">Besoin d'aide?</span>  <div><img class="w-[15px] h-[15px]" src="phone.svg" alt="phone"></div></div>
              <select name="" id="" class="custom-input bg-white border border-slate-400 outline-none selection:outline-none rounded-lg h-[40px] p-2">
                <option value="">(+237) 671577922</option>
                <option value="">(+237) 694342585</option>
                <option value="">(+237) 694342585</option>
            </select>
          </div>
      </div>
  </div>
</nav>
<!-- start nave bar -->
